@import url("https://fonts.googleapis.com/css?family=Cantarell:400,700,700i&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Cantarell", sans-serif;
}

.App {
  text-align: center;
}

.App__title {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  color: #f1f1f1;
  margin: 20px 0;
}
